.panel.panel-default.panel-body
  = div_for comment, class: "#{comment}" do
    %h4.comment-author
      Author:
      = sanitize(comment.author)
    %p.comment-content
      Content:
      = sanitize(comment.content)
    %span.date
      %small
        Created:
        = time_ago_in_words(comment.created_at)
        ago
