= form_for [@comment.post.category,@comment.post,@comment], html: { class: "form form-horizontal comment" } do |f|
  .form-group
    = f.label :author, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :author, class: 'form-control', required: true
    = f.error_span(:author)
  .form-group
    = f.label :content, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :content, class: 'form-control', required: true
    = f.error_span(:content)
  .form-group
    = f.label :post_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :post_id, class: 'form-control', required: true
    = f.error_span(:post_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), category_post_comments_path(@comment.post.category,@comment.post), :class => 'btn btn-default'
